/******* GENERAL *******/

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0 0 1em 0;
}

/******** HEADER ********/

#logo {
  text-align: center;
  margin: 0;
}

header {
  float: left;
  margin: 0  0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background: #125CBA;
  border-color: #0C3D7A;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

h1, h2 {
  color: #FFFFFF;
}

/******* NAVIGATION ********/

nav {
  background: #125CBA;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

nav a, nav a:visited {
  color: #FFFFFF;
}

nav a.selected, nav a:hover {
  color: #061D3B;
}

/******** BODY ********/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  color: #999999;
}

/******** GALLERY ********/

img {
  max-width: 100%;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  height: 45%;
  margin: 2.5%;
  /*background-color: #F5F5F5;*/
  color: #BDC3C7;
}

/*#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #BDC3C7;
}*/

.project_name {
  color: #125CBA;
  margin-bottom: -20px;
  font-size: 1.3em;
}

.project_type {
  color: #AAAAAA;
}

#gallery li a {
  color: #125CBA;
}

/******* FOOTER ********/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #CCCCCC;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/******* ABOUT PAGE ********/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/******* CONTACT PAGE ********/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  color: #125CBA;
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.linkedIn a {
  background-image: url('../img/linkedin.png');
}

.contact-info li.github a {
  background-image: url("../img/github.png");
}

.contact-info li.facebook a {
  background-image: url("../img/facebook.png");
}
